@page "/forks"

<PageTitle>Forks</PageTitle>

<h1>Forks</h1>

@using GitInsight.Infrastructure
@using GitInsight.WebApp.Shared

@inject HttpClient Http

@if (InputData.NameOfOwner == null){
    <p><em>Please fill in the information on the setup page...</em></p>
}
else if (forks is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <b>hej</b>
     <RadzenTree>
         @foreach(Fork fork in forks){
            if (fork.ChildForks.Count() > 0){
                   <RadzenTreeItem Text="@fork.Fullname" Expanded="true">
                    @foreach (Fork childFork in fork.ChildForks)
                    {
                            <RadzenTreeItem Text="@childFork.Fullname" />
                    }
                   </RadzenTreeItem>
            }
            else{
                   <RadzenTreeItem Text="@fork.Fullname" />
            }
         }
     </RadzenTree>
}

@code {
    private IEnumerable<Fork>? forks;

    protected override async Task OnInitializedAsync()
    {
        if(InputData.NameOfOwner is not null || InputData.NameOfRepository is not null){
            forks = (await Http.GetFromJsonAsync<RepoAnalysis>("GitInsight/" + InputData.NameOfOwner + "/" + InputData.NameOfRepository))!.Forks.OrderBy(x => x.Fullname);
            Console.WriteLine(forks.First(f => f.Fullname.Contains("Divi")).ChildForks.Count());
        }
    }
}
