@page "/"
<PageTitle>Index</PageTitle>

<h1>Setup</h1>

<p1>Please input the name of the repository owner</p1>
<br>
<RadzenTextBox Placeholder="Name of owner..." AutoComplete="false" @oninput=@(args => OnOwnerChange(args.Value.ToString()))/>
<br>

<p1>Please input the name of the repository</p1>
<br>
<RadzenTextBox Placeholder="Name of repository..." AutoComplete="false" @oninput=@(args => OnRepoNameChange(args.Value.ToString())) />
<br>

@code {
    void OnOwnerChange(string value)
    {
        Console.WriteLine($"Name of owner changed to: {value}");
        InputData.NameOfOwner = value;
    }

    void OnRepoNameChange(string value)
    {
        Console.WriteLine($"Name of repository changed to: {value}");
        InputData.NameOfRepository = value;
    }
}
