@page "/userdata"

<PageTitle>User Data</PageTitle>

<h1>User data</h1>

<p>Here you can view commits per day by user</p>

@using GitInsight.Infrastructure
@using GitInsight.WebApp.Shared

@inject HttpClient Http

@if (InputData.NameOfOwner == null){
    <p><em>Please fill in the information on the home page...</em></p>
}
else if (dateCounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DateCount datecount in dateCounts)
            {
                <tr>
                    <td>@datecount.Date.ToString("dd/MM/yyyy")</td>
                    <td>@datecount.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DateCount[]? dateCounts;

    protected override async Task OnInitializedAsync()
    {
        dateCounts = await Http.GetFromJsonAsync<DateCount[]>("GitInsight/" + InputData.NameOfOwner + "/" + InputData.NameOfRepository);
    }
}
